<section
  id="experience"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]">

  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Learn about my</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Experience</h3>
    
</section>